.container{
    border: 3px solid;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    background: hsla(205, 46%, 30%, 1);
    color: aliceblue;
    background: linear-gradient(90deg,hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1)100%);
    margin-bottom: 30px;
}
h3{
   
    width: 350px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 30px;
    margin-top: 1px;
}

